<h1 class="h3 mb-2 text-gray-800">Efeitos Colaterais</h1>
<div>  
  <%= link_to new_efeitocolateral_path, {remote: true, class: "btn btn-info", id: "anadir-categoria-btn"}  do %>
    <span class="fas fa-plus-square" ></span>
  <% end %>
</div>
<br />

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
       <table id="tablaCategorias" class="table table-bordered" width="100%">
         <thead>
           <tr>
             <th>Efeito</th>
         
           </tr>
         </thead>
         <tbody>
         <% @efeitocolaterals.each do |ef| %>
            <tr id="efeito_<%= ef.id %>" >
                <td><%= ef.descricao %></td>
     
            </tr>
         <% end %>
         </tbody>
       </table>
    </div>
  </div>
</div>

<%= render 'modal_efeitos' %>
