

<h1 class="h3 mb-2 text-gray-800">Tipo de Medicação</h1>

<br />

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
       <table id="tablaCategorias" class="table table-bordered" width="100%">
         <thead>
           <tr>
             <th>Tipo de Medicação</th>
    
           </tr>
         </thead>
         <tbody>
         <% @tipos.each do |ef| %>
            <tr id="tipo_<%= ef.id %>" >
                <td><%= ef.descricao %></td>
              
            </tr>
         <% end %>
         </tbody>
       </table>
    </div>
  </div>
</div>

<%= render 'modal_tipos' %>
